@import "tailwindcss";

@theme {
  --color-hanok-bg: #0a0a0a;
  --color-hanok-text: #F9F7F3;
  --color-hanok-accent: #E5C07B; /* Elegant Gold */
}

body {
  background-color: var(--color-hanok-bg);
  color: var(--color-hanok-text);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
